@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-white dark:bg-[#0F172A] text-gray-800 dark:text-gray-200 transition-colors duration-300;
}

/* Transisi global untuk tema */
* {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
